* {
  margin: 0;
  padding: 0;
}
body {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}
#canvas {
  background: linear-gradient(
    107deg,
    rgb(168, 189, 153) 0%,
    rgb(189, 156, 156) 100%
  );
}
